.productListItemWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.productImageBox {
  margin: auto;
}
.productListItemImage {
  height: 170px;
  width: 170px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.productListItemImage:hover {
  transform: scale(1.2);
}

.productDescSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.productListItemDesc {
  padding: 0px 20px 0px 20px;
  text-align: center;
}
.productListItemPrice {
  padding: 20px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

.productListHeaderNameWrapper {
  color: black;
  margin: 25px 0 20px 0;
  cursor: pointer;
}
.productAddToCartButton {
  border: 3px solid #00d563;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: #00d563;
  font-weight: bold;
  font-size: 12px;
  border-radius: 14px;
  cursor: pointer;
}
