.contactFormWrapper {
  margin-top: 50px;
  width: 60%;
  order: 2;
}
.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.contactFormInput {
  padding: 10px;
  color: grey;
  margin-bottom: 20px;
}
.contactButton {
  margin: 10px auto;
  display: flex;
}
.contactFormButton {
  border: 3px solid #00d563;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: #00d563;
  font-weight: bold;
  font-size: 12px;
  border-radius: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .contactFormWrapper {
    width: 100%;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
}
