.productList_wrapper {
  width: 80%;
  display: flex;;
  justify-content: flex-end;
  margin: 0px 0px 0px auto;
}
.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  list-style: none;
  grid-column-gap: 30px;
}

.productList_buttonWrapper {
  display: flex;
  align-items: center;
}

.backToAll_btn {
  margin-left: 5%;
  border-radius: 100%;
  background-color:#00d563;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.productList_alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.backToAll_btn {
  margin-right: 20px;
}
/* media queries */

@media only screen and (max-width: 1024px) {
  .productList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productList_wrapper {
    margin: auto;
  }
}

@media only screen and (max-width: 720px) {
  .productList {
    display: flex;
    flex-direction: column;
  }
}
